body{
    background-color: #ffba66 0.6;
    background-size:contain;
    background-image: url("https://cdn.pixabay.com/photo/2016/11/29/09/00/doughnuts-1868573_960_720.jpg");
    background-attachment: fixed;
}
header, main{
    background-color: peachpuff;
    margin: auto;
    width: 900px;
    max-height: max-content;
    padding: 30px;
}
header{
    
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
section{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
